.main-story {
    text-align: left;
    overflow: hidden;
    font-family: 'Alegreya', serif;
}

.figure-block {
    position: relative;
    background-color: #fbfbfb;
}

.quote-mystory {
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
    min-height: 4rem;
    font-style: italic;
}

.quote-mystory::before {
    content: "“";
    font-size: 4rem;
    padding: 0 1rem;
    position: absolute;
    top: -1.5rem;
    left: -1rem;
}

.quote-mystory::after {
    content: "”";
    font-size: 4rem;
    padding: 0 1rem;
    position: absolute;
    bottom: -2rem;
    right: 0;
}

.hero-figure {
    background-color: #fbfbfb;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.hero-figure,
.hero-imag {
    margin: 0;
}

.story-h1 {
    margin: 1.5rem 0.5rem;
}

.story-p {
    margin: 1rem 0.5rem;
}

.hero-image img {
    max-width: 100%;
    margin: 0;
}

.hero-caption {
    text-align: center;
    font-style: italic;
    margin: 0;
}

.hover-word {
    font-style: italic;
}

time {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.my-story-title {
    color: #821919;
}