#main-home {
    background-color: #ebebeb;
}

#main-home h2 {
    text-align: left;
    margin: 1rem 0 1rem 0.25rem;
    font-size: 2.2rem;
}

.main-header {
    display: flex;
    flex-flow: column;
}

.sub-header {
    font-size: 1.7rem;
}

#projects {
    margin-bottom: 5rem;
}

@media screen and (min-width:650px) {
    .main-header {
        display: flex;
        flex-flow: row wrap;
        font-size: inherit;
    }

    .sub-header {
        font-size: inherit;
    }
}

@media screen and (min-width:600px) {
    #stories {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content 1fr 1fr;
        /* https://stackoverflow.com/questions/50708974/how-do-you-collapse-unused-row-in-a-css-grid */
        grid-gap: 1rem;
    }

    #stories article:first-of-type {
        grid-row: 2 / 4;
    }

    #projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #stories h2 {
        margin-bottom: 0;
        text-align: left;
    }

    #projects h2,
    #stories h2 {
        grid-column: span 2;
    }
}

@media screen and (min-width:950px) {
    #projects {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #projects h2 {
        grid-column: span 3;
    }
}