.chart-container {
    position: relative;
    /* height:40vh; */
    width: 80vw;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    max-width: 500px;
  }