/* HEADER */
.prj-pg-header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: left;
    max-width: 1600px;
    margin: auto;
}

.prj-pg-header-title-container {
    min-width: 50vw;
    display: flex;
    flex-flow: column wrap;
    min-height: 6rem;
}

.prj-pg-header-links-container {
    display: flex;
    flex-flow: row nowrap;
    min-height: 6rem;
    margin-left: 1rem;
}

.prj-pg-header-title-container h1 {
    margin: 2rem 0 2rem 0.5rem;
    font-size: 2.2rem;
    max-width: calc(100vw - 1rem);
}

.prj-pg-header-title-container,
.prj-pg-header-img-container {
    margin: 0;
}

.prj-pg-live-link,
.prj-pg-source-link {
    text-decoration: none;
    min-width: 6rem;
    border-radius: 5px;
    min-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffea00;
    padding: 0.5rem 0;
    max-height: 1rem;
    color: black;
    cursor: pointer;
}

.prj-pg-live-link:hover,
.prj-pg-source-link:hover {
    background: #ffbb00;

}

.prj-pg-live-link:focus,
.prj-pg-source-link:focus {
    outline: none;
    -webkit-box-shadow: 0 0 5px lightsteelblue;
    box-shadow: 0 0 5px lightsteelblue;
    border: 1px solid darkgrey;
}

.prj-pg-source-link {
    margin-left: 1rem;
}

.prj-pg-header-img-container {
    margin: auto;
}

.prj-pg-header-img-container img {
    max-width: 100%;
}

@media screen and (min-width:700px) {
    .prj-pg-header {
        flex-flow: row;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
    }

    .prj-pg-header-img-container img {
        margin-right: auto;
    }

    .prj-pg-header-title-container,
    .prj-pg-header-img-container {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .prj-pg-header-img-container {
        margin-left: -2rem;
    }

    .prj-pg-header-title-container h1 {
        max-width: 100%;
        font-size: 1.9rem;
    }
}

@media screen and (min-width:1000px) {
    .prj-pg-header {
        width: 90%;
    }

    .prj-pg-source-link {
        margin-right: 1rem;
    }

    .prj-pg-header-links-container {
        margin: 0;
    }

    .prj-pg-header-title-container h1 {
        margin: 0;
        font-size: 3rem;
    }

    .prj-pg-header-img-container {
        margin-left: -2rem;

    }


}

@media screen and (min-width:1300px) {
    .prj-pg-header-img-container {
        margin-left: 0;
    }
}