.main-contact {
  text-align: left;
  margin-bottom: 5rem;
}

.contact-me-container {
  padding: 3rem 0 3rem;
  display: flex;
  width: 95%;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.contact-me-text {
  font-size: 1.5rem;
}

.animated-text {
  margin: 0;
  font-size: 2rem;
}

.animation-container {
  height: auto;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0);
}

.animated-div {
  height: 3rem;
  width: 100%;
  animation: div-animation 1.5s linear;
  z-index: -1;
}

/* .animated-div and .text-container are overlayed -hence the absolute position*/
.animated-div,
.text-container {
  position: absolute;
  top: 0%;
  left: 0%;
  margin-top: 1rem;
}

.contact-me-section {
  margin-top: 7rem;
}

.contact-input {
  background: lightgray;
  height: 2rem;
  border: none;
  padding-left: 1rem;
}

.contact-input:focus {
  background: white;
  outline: none;
  box-shadow: 0 0 5px lightsteelblue;
  border: 1px solid darkgrey;
}

.contact-send-mail {
  text-decoration: underline; 
  font-size: 2rem;
  color: black;
  border-radius: 5%;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  padding: 0.25rem 1rem;
  margin-left: auto;
  display: inline-block;
}

.contact-send-mail:hover {
  font-weight: bold;
  background-color: grey;
}

.contact-send-mail:focus {
    outline: none;
    box-shadow: 0px 0px 35px 0px rgba(0, 85, 119, 0.75);
    border: 1px solid darkgrey;
}

.contact-icon-container {
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 1px solid lightgray;
  /* border-bottom: 1px dashed blue; */
  min-height: 6rem;
  display: flex;
  justify-content: space-around;
}

.contact-submit-container {
  display: flex;
  justify-content: flex-end;
}

@keyframes div-animation {
  0% {
    width: 0%;
    background-color: gray;
  }

  25% {
    width: 30%;
    background-color: gray;
  }

  50% {
    width: 70%;
    background-color: gray;
  }

  75% {
    width: 55%;
    background-color: gray;
  }

  100% {
    width: 100%;
  }
}

/* .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
} */

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (min-width: 600px) {
  .contact-me-container {
    width: 70%;
  }
  .main-contact {
    /* min-height: calc(100vh - 10.5rem); */
    margin-bottom: auto;
  }

  .animation-container {
    position: relative;
  }

  .contact-me-text {
    font-size: 2rem;
  }
  
  .animated-text {
    margin: 0;
    font-size: 3rem;
  }

  .animated-div {
    height: 4rem;
    width: 100%;
  }

  .contact-input {
    height: 3rem;
  }

  .contact-send-mail {
    font-size: 3rem;
  }
}