.animated-text {
  color: red;
  margin: 0;
  font-size: 2rem;
}

.animation-container {
  width: 50%;
  height: 400px;
  margin: auto;
  position: relative;
  border: 1px solid blue;
}

.animated-div {
  background-color: gray;
  height: 3rem;
  width: 100%;
  margin: auto;
  animation: div-animation 1s linear;
  z-index: -1;
}

.animated-div,
.text-container {
  position: absolute;
  top: 0%;
  left: 0%;
  margin-top: 1rem;
}

.text-container {
  background-color: rgba(255, 0, 0, 0.226);
}

@keyframes div-animation {
  0% {
    width: 0;
  }

  25% {
    width: 30%;
  }

  50% {
    width: 70%;
  }

  75% {
    width: 55%;
  }

  100% {
    width: 100%;
  }

  /* 0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;} */
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}