.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

a {
  text-decoration: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  min-height: 100%;
  /* background-color: #ebebeb; */
  font-family: 'Alegreya SC', serif;
  font-weight: 500;
}

@media screen and (min-width:600px) {
  body {
    display: grid;
    font-size: 1.1rem;
  }

  #main-home {
    max-width: 1600px;
    margin: auto;
  }
}
