#footer {
    color: rgb(0, 0, 0);
    background: #fafafa;
    height: 8rem;
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: serif;
    color: gray;
}

.footer-links {
    color: gray;
    font-size: 1rem;
    display: block;
    text-decoration: none;
}

.footer-links:hover {
    text-decoration: underline;
    color: black!important;
}

.footer-links:focus {
    outline: none;
    -webkit-box-shadow: 0 0 5px lightsteelblue;
            box-shadow: 0 0 5px lightsteelblue;
    border: 2px solid darkgrey;
}

.footer-links:visited {
    color:inherit;
}

.footer-contact-info {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.footer-legal {
    margin-right: 5px;
}

.footer-legal p {
    margin: 0;
    font-size: 1rem;
}

@media screen and (min-width:600px) {
    #footer {
        height: 6rem;
        border-top: 1px solid #d0d0d0;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .footer-legal {
        margin-right: 3rem;
    }

    .footer-contact-info {
        margin-left: 3rem;
    }
}

