main h2 {
    text-align: left;
}

/* #stories article:first-of-type  {
    grid-row: 1 / 3;
} */

@media screen and (min-width:600px) {
    #stories {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1rem;
    }
    
    #stories article:first-of-type  {
        grid-row: 1 / 3;
    }
    
    #projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.1rem;
        margin-bottom: 2rem;
    }
    #projects h2,
    #stories h2 {
        grid-column: span 2;
    }
}

@media screen and (min-width:950px) {
    #projects {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #projects h2 {
        grid-column: span 3;
    }
}