#main-home {
    background-color: #ebebeb;
}
#main-home h2 {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2.2rem;
}


@media screen and (min-width:600px) {
    #stories {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content 1fr 1fr;
        /* https://stackoverflow.com/questions/50708974/how-do-you-collapse-unused-row-in-a-css-grid */
        grid-gap: 1rem;
    }
    
    #stories article:first-of-type  {
        grid-row: 2 / 4;
    }

    #projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-gap: 0.1rem; */
        margin-bottom: 3rem;
    }

    #stories h2 {
        margin-bottom: 0;
    }

    #projects h2,
    #stories h2 {
        grid-column: span 2;
    }
}

@media screen and (min-width:950px) {
    #projects {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #projects h2 {
        grid-column: span 3;
    }
}