h2 {
    text-align: left;
}

@media screen and (min-width:600px) {
    #stories {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1rem;
    }
    
    #stories article:first-of-type  {
        grid-row: 1 / 3;
        /* background-color: red;  */
    }
    
    #projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.1rem;
        margin-bottom: 2rem;
    }
}