nav {
    background-color: #fff;
    display: flex;
    width: 100%;
    min-height: 44px;
    position: relative;

}

.nav-list {
    display: flex;
    flex-flow: column nowrap;
    /* align-items: center; */
    /* align-content: center; */
    /* justify-content: space-around; */
    width: 100%;
    height: 250px;
    transition: height 500ms;
    overflow: hidden;
    padding: 0;
}

.nav-list-collapsed {
    height: 0;
}

.nav-list-hide-li li {
    /* sets display to none thus removes the items from tab order */
    display: none;
}

.nav-list li {
    list-style-type: none;
    margin: 0.5rem;
}

.nav-list li:first-of-type {
    margin-top:1rem;
}

.nav-link {
    text-decoration: none;
    color:black;
    padding: 0.5rem;
    font-size: 1rem;
}

.hamburger-menu {
    height: 44px;
    width: 44px;
    position: absolute;
    right: 0;
    background-image: url("../../Images/icons/Hamburger_icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    border: none;
    transition: background-color 500ms;
}

.hamburger-menu:active {
    background-color: gray;
    transform: translateY(4px);
  }

/* .nav-link:last-of-type {
    margin-left: auto;
    margin-right: 5%;
} */

.nav-link:hover {
    text-decoration: underline;
    color: grey;
}

.nav-link:focus,
.hamburger-menu:focus {
    outline: none;
    -webkit-box-shadow: 0 0 5px lightsteelblue;
            box-shadow: 0 0 5px lightsteelblue;
    border: 1px solid darkgrey;
}

.nav-link.my-story {
    font-weight: bold;
}

@media screen and (min-width:600px) {
    .nav-list-collapsed {
        height: auto;
    }
    
    .nav-list-hide-li li {
        display: initial;
    }

    .hamburger-menu {
        display: none;
    }

    .nav-list {
        flex-flow: row nowrap;
        height: auto;
        padding: 0;
        overflow: initial;
    }

    .nav-link {
        padding: 0.5rem  0.4rem;
    }

    .nav-list li {
        list-style-type: none;
        margin: 0.25rem 0 0.5rem;
    }

    .nav-list li:last-of-type {
        margin-left: auto;
        margin-right: 0;
    }
    .nav-list li:first-of-type {
        margin: 0.25rem 0 0.5rem;
    }
    .nav-link:last-of-type {
        /* margin-left: auto;
        margin-right: 0; */
    }

}

@media screen and (min-width:950px) {
    .nav-link {
        padding: 0.5rem  0.8rem;
        /* font-size: 1.2rem; */
    }
}