/* <article> */
.project {
    min-width: 190px;
    min-height: 200px;
    border-bottom: 1px solid #d0d0d0;
    cursor: pointer;
}

/* first .project on mobile */
.project:nth-child(2) {
    border-top: 1px solid #d0d0d0;
}

.project:hover {
    background: #f7f7f7;
}

.project h3 {
    font-weight: 500;
    font-size: 1.25rem;
    color:rgb(99, 97, 97);
    margin: 0.25rem 0;
}

.project p {
    color:#888;
    margin-bottom: 2.5rem;
}

/* <figure> */
.project-figure {
    position: relative;
    margin: auto;
}

/* <img> */
.project-thumbnail {
    max-width: 90%;
    margin-top: 1rem;
    border: 1px solid lightgray;
}

/* <figcaption> */
.project-caption {
    background: rgba(64,4,13,0.05);
    background: #640040de;
    color: #f7f7f7;
    position: absolute;
    padding: 10px 20px;
    bottom: 10%;
}

.udacity-figcaption {
    background: rgba(2,179,228,0.88);
    background: #02b3e4e0;
}

.freecodecamp-figcaption {
    background: rgba(0,100,0,0.87);
    background: #006400de;
}

@media screen and (min-width:600px) {
    .project {
        margin: 0;
        border-right: 1px solid #d0d0d0;
    }
    /* .project:nth-child(3n-1) {
        border-left:1px solid  #d0d0d0;
    } */
    .project:nth-child(-n+3) {
        border-top:1px solid  #d0d0d0;
    }
    .project h3 {
        margin: 0.5rem 0;
    }
    .project-thumbnail {
        max-width: 70%;
    }
    .project-caption {
        left: 5%;
    }
}
@media screen and (min-width:950px) {
    .project:nth-child(-n+4) {
        border-top:1px solid  #d0d0d0;
    }
    .project:nth-child(3n-1) {
        border-left:1px solid  #d0d0d0;
    }
}