.story {
    background-color: gray;
    justify-items: center;
    align-items: center;
    min-width: 200px;
    height: 50vh;
    min-height: 200px;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.story figure {
    width: 105%;
    height: 105%;
    /* change min-height OR change the resolution of the images aka no wide images */
    min-height: 300px;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
     -ms-transition: all 1s ease;
         transition: all 1s ease;
         background-position: bottom;
}

.story figure:hover {
    width: 111%;
    height: 111%;
}

@media screen and (min-width:600px) {
    .story {
        height: auto;
        margin: 0;
    }
    /* .story {
        background-color: gray;
        justify-items: center;
        align-items: center;
        min-width: 200px;
        min-height: 200px;
        overflow: hidden;
        
        height: 50vh;
        margin-bottom: 0.5rem;
    } */
}