.story {
    background-color: gray;
    justify-items: center;
    align-items: center;
    min-width: 200px;
    height: 50vh;
    min-height: 200px;
    /* border: 1px black solid; */
    overflow: hidden;
}

.story figure {
    background-color: green;
    width: 105%;
    height: 105%;
    /* change min-height OR change the resolution of the images aka no wide images */
    min-height: 300px;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
     -ms-transition: all 1s ease;
         transition: all 1s ease;
         background-position: bottom;
}

.story figure:hover {
    width: 111%;
    height: 111%;
    /* background-color: yellowgreen; */
}

@media screen and (min-width:600px) {
    .story {
        height: auto;
    }
  }