.story-link,
.story-link:link
.story-link:visited,
 {
    text-decoration: none;
}
.story:first-of-type {
    height: 60vh;
}

.story {
    background-color: gray;
    justify-items: center;
    align-items: center;
    min-width: 200px;
    height: 20vh;
    overflow: hidden;
    margin-bottom: 0.5rem;
    position: relative;
}

.story figure {
    width: 105%;
    height: 105%;
    /* change min-height OR change the resolution of the images aka no wide images */
    /* min-height: 300px; */
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
     -ms-transition: all 1s ease;
         transition: all 1s ease;
         background-position: bottom;
}

.story figure:hover {
    width: 111%;
    height: 111%;
    cursor: pointer;
}

.story-color-overlay {
    height: 100%;
    width: 100%;
}

/* First Story */
#stories article:first-of-type .story-caption  {
    background-color: rgba(255,138,0,0.5);
    background-color: #ff8a0080;
}

.story-caption {
    position: absolute;
    bottom: 0;
    left:0;
    text-align: left;
    /* margin-left: 1rem; */
    /* font-size: 1.5rem; */
    text-shadow: 0px 0px 20px #FFFFFF;
    width: 100%;
}

.story-caption h3 {
    font-size: 1.8rem;
    margin: 0 0 0.5rem 1rem;
}

.story-caption p {
    margin: 0 0 0.5rem 1rem;
}

@media screen and (min-width:600px) {
    .story {
        height: auto;
        margin: 0;
    }
    /* .story:first-of-type {
        height: auto;
    } */
}

@media screen and (orientation: portrait) and (min-width:600px) {
    .story:first-of-type {
        height: auto;
        /* max-height: 350px; */
        /* min-height: 100px; */
    }
    .story {
        height: 20vh;
    }
  }

@media screen and (orientation: landscape) and (max-height:420px) {
    .story {
        min-height: 22vh;
    }

    .story:first-of-type {
        height: 80vh;
    }
}

@media screen and (min-width:950px) {
    .story-color-overlay {
        background: initial !important;
    }
    .story-caption  {
        background-color: rgba(96,169,185,0.64);
        background-color: #60a9b9a2;
    }
    /* .test {
        background-color: #90287fd1;
    } */
}